* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: rgb(63, 63, 63);
}

.kanban-board {
    display: flex;
    gap: 14px;
    padding: 24px;
    width: 100%;
    height: 90vh;
    overflow-x: auto;
}

.kanban-column {
    display: flex;
    flex-direction: column;
    background-color: #232323;
    border-radius: 15px;
    height: 100%;
    overflow-y: auto;
    padding: 12px;
    overflow: hidden;
    position: relative;
    min-width: 252px;
    box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
}

.kanban-column::after {
    position: absolute;
    content: '';
    height: 5px;
    width: 100%;
    top: 0;
    left: 0;
}

.kanban-column[data-id="1"]::after {
    background-color: #d573b6;
}

.kanban-column[data-id="2"]::after {
    background-color: #fea065;
}

.kanban-column[data-id="3"]::after {
    background-color: #fed565;
}

.kanban-column[data-id="4"]::after {
    background-color: #92a5fb;
}

.kanban-column[data-id="5"]::after {
    background-color: #6ed0bc;
}

.kanban-column[data-id="6"]::after {
    background-color: #92ff15;
}

.kanban-column[data-id="7"]::after {
    background-color: #ff1b67;
}

.kanban-title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.kanban-title h1 {
    color:#dedede;
    font-size: 25px;
}

.kanban-title button {
    cursor: pointer;
    background-color: #2c2c2c;
    outline: none;
    border: none;
    width: 30px;
    height: 30px;
    border-radius: 5px;
}

.kanban-title button i {
    color: #929292;
    display: flex;
    justify-content: center;
    align-items: center;
}

.kanban-title button:hover {
    background-color: #515151;
    color: black;
    transition: 0.5s;
}

.kanban-cards {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 10px;
    min-height: 300px;
    overflow-y: auto;
    overflow-x: hidden;
}

.kanban-card {
    display: flex;
    flex-direction: column;
    background-color: #171717;
    border-radius: 10px;
    padding: 5px;
    width: auto;
    box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
}

.badge-high {
    background-color: red;
    color: white;
    border-radius: 10px;
    width: fit-content;
    padding: 2px 4px;
    margin: 5px;
}

.card-title {
    color: white;
    padding: 2px 5px;
}

.card-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
}

.card-icons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    gap: 10px;
}

.card-icons i {
    color: #929292;
    cursor: pointer;
}

.card-icons i:hover{
    color: white;
    transition: 0.5s;
}

.user img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    cursor: pointer;
}

*::-webkit-scrollbar {
    width: 8px;
}

*::-webkit-scrollbar-track {
    background-color: #9f9f9f;
    border-radius: 8px;
}

*::-webkit-scrollbar-thumb {
    background-color: rgb(47, 47, 47);
    border-radius: 20px;
}

.dragging {
    opacity: 0.5;
}